.aboutus_container {
    text-align: center;
    padding: 70px 20px;
    background-color: #f9f9f9;
}

.aboutus_container h2 {
    font-size: 50px;
}

.aboutus_main {
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    position: relative;
    flex-wrap: wrap;
}

.aboutus_image {
    width: 40%;
    position: sticky;
    top: 0;
}

.aboutus_image img {
    width: 70%;
}

.aboutus_text {
    width: 60%;
    font-size: 30px;
    text-align: left;
}

.aboutus_text p {
    margin-left: 10px;
}

.sliding_container {
    margin-top: 50px;
    width: 100%;
    height: auto;
    overflow: hidden;
    position: relative;
}

.sliding_image img{
    width: 80px;
    height: 80px;
    margin: 0 60px;
}




@media screen and (max-width: 768px) {
    .aboutus_main {
        flex-direction: column; 
        align-items: center; 
    }

    .aboutus_image, .aboutus_text {
        width: 100%; 
    }

    .aboutus_text {
        font-size: 20px; 
    }

    .aboutus_image {
        position: relative; 
        top: auto;
    }

    .aboutus_image img{
        width: 70%;
    }
}
