.whatweproduce_container {
    text-align: center;
    padding: 20px;
}

.whatweproduce_main {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    flex-wrap: wrap;
    margin-top: 20px;
}

.whatweproduce_content {
    width: 200px;
    background-color: #f0e68c;
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    text-align: center;
}

.whatweproduce_content img {
    width: 180px;
    height: 180px;
    border-radius: 10px;
}


.whatweproduce_content h4 {
    margin: 10px 0 5px;
}

.whatweproduce_content p {
    margin: 5px 0;
}

.whatweproduce_content button {
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    background-color: #f4f4f4;
    font-size: 16px;
    font-weight: bold;
    position: relative;
    overflow: hidden;
    z-index: 1;
    transition: color 0.3s;
}

.whatweproduce_content button::after {
    content: '';
    display: block;
    width: 0;
    height: 0;
    background-size: cover;
    background-position: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: opacity 0.3s, width 0.3s, height 0.3s;
}

.btn_cookies:hover::after {
    background-image: url('../assets/cookies_icon.png');
    width: 24px; 
    height: 24px;
    opacity: 1;
}

.btn_donuts:hover::after {
    background-image: url('../assets/donut_icon.png');
    width: 24px; 
    height: 24px;
    opacity: 1;
}

.btn_cupcakes:hover::after {
    background-image: url('../assets/cupcake_icon.png');
    width: 24px; 
    height: 24px;
    opacity: 1;
}

.btn_macaroons:hover::after {
    background-image: url('../assets/macaroon_icon.png');
    width: 24px; 
    height: 24px;
    opacity: 1;
}





.whatweproduce_content button:hover {
    color: transparent;
}

/* Media query for mobile devices */
@media (max-width: 800px) {
    .whatweproduce_main {
        flex-direction: column;
        align-items: center;
    }

    .whatweproduce_content {
        width: 90%;
    }
}
